<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
    link(rel='manifest', href='/manifest.json')
    meta(name='theme-color' content='#FFFFFF')
<link rel="icon" href="/images/pic1.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width">
<meta name="Description" content="Demo showing the push notification API,servise worker">
<title>Данные о сайте и авторе</title>
		
<link href="grid.css" rel="stylesheet" type="text/css" />
</head>

<body>
<template id='t'><h1>ВАМ ПРИШЛО СООБЩЕНИЕ</h1>
</template>

<span id='int'></span>

<div><svg hidden preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="icon-7f6730be--text-3f89f380--icon-1f8349b3"><g><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></g></svg></div>
<div id='avtor'>
<p><form style="display:none">
<label for"n">Введите своё имя</label>
<input type = "text" id="in" class="n" value=#{user}>
<button class="btn">вставить</button>
</form>
</p>
<span id="name" name="user_name" tabindex="0" data-descr="ваш юсернейм при регистрации">

</span>
<span id="nome" tabindex="0" data-descr="показатель подписаны ли вы">подписка</span>
</div>
 div(class='push-wrapper hidden')
      button(class='push-button')

<div class="container">
<a class="next" onclick="nnext(1)">&#10095;</a>
<a class="prev" onclick="pprev(-1)">&#10094;</a> 
<div id="menu"><i>close</i>
<p class="menu"><a href="/">Page 1 </a></p>
<p id="menu1"class="menu" data-descr="для установки приложения нажмите на кнопку">INSTALL</p><p  class="menu"><a href="/admin" style='text-decoration:none'>Create PUSH</a></p><p class="menu"><a href="/indexdb/index1.html">FotoNotepad</a></p> <p class="menu"><a href="/creator/#{user}">Create page</a> </p>
<ul>
            each doc in docs
                <li class='menu' id='#{doc._id}' data-descr='#{doc.aws.length}'>#{doc.h1}  <br>автор:#{doc.name}</li>
</ul>
</div>
<header id="headera"></header>
<article>
<h1 id="h1a">Об авторе</h1>
<p id="pa"></p>

               
</article>
<aside><h2 id="h2a">Моё фото</h2>
<div class="full-img">
<img class="displayed-img" src="images/g1.JPG" width="350px;">
<div class="overlay"></div>
<button id="btn" class="dark"> увеличить</button>
</div>

<div class="thumb-bar">


</div>  </aside>
 <footer><p>адрес электронной почты <strong> dima.chernyshev.1976@mail.ru</strong></p><p>гугл почта <strong>dmitrijcernysev784@gmail.com</strong> </p>
</footer>
</div>
<script src="main.js"></script>
<script type='module' src="vebcomponents/component8.js"></script>
 script.
      // load JavaScript for push notifications in supported browsers
      if ('serviceWorker' in navigator && 'PushManager' in window) {
        function loadScript(src) {
          return new Promise(function (resolve, reject) {
            var s;
            s = document.createElement('script');
            s.src = src;
            s.onload = resolve;
            s.onerror = reject;
            document.head.appendChild(s);
          });
        }

        loadScript('/script/push.js');
      } else {
        var info;
        info = document.createElement('p');
        info.className = 'message message--error';
        info.textContent = "Sorry, your browser doesn't support push notifications";
        document.body.appendChild(info);
      }
</body>

</html>
